<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/f25dd70f-12fc-40d6-9e05-9d9c0e073b4e/resourceGroups/BookStore2023/providers/Microsoft.Web/sites/bookstoremini</ResourceId>
    <ResourceGroup>BookStore2023</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://bookstoremini.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>345c83bc-75f6-4719-83f5-8a9d278f1d52</ProjectGuid>
    <PublishUrl>https://bookstoremini.scm.azurewebsites.net/</PublishUrl>
    <UserName>$bookstoremini</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>